<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-4">
    <h3>
      <%= yield(:form_title) %>
    </h3>
    <%= simple_form_for(@cocktail) do |x| %>
    <%= x.input :name %>
    <%= x.submit class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
