<div class="container">
  <div class="row">
    <h1>Check out these cocktails!</h1>

    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-md-6 col-sm-4">
      <ul class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://fillmurray.com/360/175');">
      <li>
        <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
      </li>
    </ul>
    <% end %>
  </div>

  <%= link_to "All dose options", doses_path, class: "btn btn-primary" %>
</div>


<!--     </div>
    <div class="row">
      <h2><%= link_to 'New Cocktail', new_cocktail_path %></h2>
    </div>
  </div>
 -->
