<div class="row">
<div class="col-xs-12 col-md-6 col-lg-4">
    <h3>Add doses</h3>
    <%= simple_form_for [@cocktail, @dose] do |x| %>
    <%= x.input :ingredient, collection: Ingredient.all %>
    <%= x.input :description %>
    <%= x.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
